.tableContainer{
    padding: 8px;
    background-color: var(--white);
}
.table th{
  padding: 8px 20px ;
  background-color: var(--background);
  text-align: left;
}
.table th:first-child{
  border-radius: 20px 0px 0px 20px;
}
th:last-child{
  border-radius: 0px 20px 20px 0px;
}
.table tbody{
  margin: 20px;
}
.table td{
  padding: 10px 20px;
  border-bottom: 1px solid var(--grey);

}
.table tbody tr .detailCell{
    display: none;
}

@media (max-width: 820px) { 
   .tableContainer{
        padding: 0;
        background: none;
        box-shadow: none;
   } 
    .table thead{
        display: none;
    }
    .table , .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
        margin: 0;
    }
    .table tbody{
        display: grid ;
        grid-template-columns: 1fr 1fr; /* 5 kolom */
        gap: 16px;
    }
    .table tr{
        background: var(--color-white);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px;
        padding-top: 30px;
    }
    .table td{
        border:none;
        padding: .35em;
        text-align: right; 
        
        position: relative; 
    }
    .table td div button{
        position: absolute;
        top: -17;
        right: 4;
    }
    .table tbody tr .detailCell{
        display: block;
    }

    .table td div{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .table  .detail{
        display: none;
    }
    .table td .action{
        justify-content: center;
        gap: 8px;
    }
    .table td .action .icon{
        width: 100%;
    }
    .table td:not(:last-child)::before{
        content: attr(data-title);
        float: left;
        color: var(--black);
    }
    .table td p {
        padding-left: 3.5rem;
        text-align: left;
    }

}

@media (max-width: 600px){
    .table tbody{
        grid-template-columns: 1fr; 
        gap: 8px;
    }
}