@import "tailwindcss";

:root {
  --background: #f5f7fb;
  --foreground: #e0e2f3;
  --white: #ffffff;
  --black: #020303;
  --yellow: #febf00;
  --blue: #155dfc;
  --grey: #bbbbbb;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-yellow: var(--yellow);
  --color-grey: var(--grey);
  --color-secondary: var(--blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--black);
  font-family: var(--font-poppins);
}
